* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: #05386B;
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
  background-color:#5CDB95;
  border-radius: 0;
  border:2px;
  border-color: white;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { 
  font-size: 1.5em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 2px #121212;  
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75; 
  color: black;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: #000;
  text-align: center;
  font-weight: bold;
}

#nav-list a:hover {
  background: #8EE4AF;
}

#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -45px;
}

body > h2 {
  font-weight: bolder;
}

.cover {
  box-sizing: border-box;
  background-color: #5CDB95; 
  padding: 10px;
  border: 3px solid #000;
}

.text-center {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  font-size: 2em;
  margin-bottom: 20px;
}

.inner-text {
  text-align: center;
  font-weight: bolder;
  font-size: 1.25em;
}

/********** Moblie Devices Only **********/
@media (max-width: 767px) {
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw; 
  }
  #collapsable-nav a { 
    font-size: 1.2em;
  }
  #collapsable-nav a span { 
    font-size: 1em;
    margin-right: 5px;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
}

  
/********** Super Extra Small Devices Only**********/
@media (max-width: 479px) {
  .navbar-brand h1 { 
    padding-top: 5px;
    font-size: 6vw;
  }
}

